body {
    background: url(fatty.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 1200px; width: 100%;
}
.story {
    text-align: center;
    margin-right: 25px;
    max-width: 1200px; width: 100%;
}
.enj {
    text-align: center;
    text-transform: uppercase;
    max-width: 1200px; width: 100%;
}
.tans {
    max-width: 1200px; width: 100%;
}
.tans1 {
    text-align: center;
    margin-top: 175px;
    margin-bottom: 0;
    max-width: 1200px; width: 100%;
}
.karla {
    text-align: center;
    max-width: 1200px; width: 100%;
}
footer {
    background-color: rgb(184, 17, 17);
    text-align: center;
    max-width: 1200px; width: 100%;
}

.story, .tans, .tans1, .karla, .footer, .enj {
    padding: 5px;
    font-size: 38px;
}