body {
    background: url(fatty.jpg) no-repeat center center fixed;
}
.story {
    background-color: rgb(88, 90, 206);
}
.enj {
    background-color: rgb(88, 90, 206);
    text-transform: uppercase;
}
.tans {
    
    
}
.tans1 {
    background-color: rgb(172, 157, 157);
}
.karla {
    background-color: rgb(88, 90, 206);
}
footer {
    background-color: rgb(184, 17, 17);
}