body {
    
}
.story {
    text-align: center;
    background-color: rgb(88, 90, 206);
}
.enj {
    text-align: center;
    background-color: rgb(88, 90, 206);
}
.tans {
    border: 100px;
    
}
.tans1 {
    text-align: center;
    background-color: rgb(172, 157, 157);
}
.karla {
    text-align: center;
    background-color: rgb(88, 90, 206);
}
footer {
    background-color: rgb(184, 17, 17);
    padding: 5px;
    text-align: center;
}